<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <input type="text" v-model="renk">
  <input type="text" @keyup.up="yukseklik-=5"  @keyup.down="yukseklik+=5" v-model="yukseklik">
  <hr>
  <div class="box">1</div>
  <div class="box" :style="{'background-color' : renk}">2</div>
  <div class="box" :style="{'backgroundColor' : renk}">3</div>
  <div class="box" :style="ozelStil">4</div>
  
</div>

<script>
	new Vue({
		el : "#app",
	  data : {
			durum : true,
      renk : "green",
      yukseklik : 200
    },
    computed : {
    	ozelStil : function(){
      	return {
        	height : this.yukseklik + "px",
          backgroundColor : this.renk
        }
      }
    }
	})
</script>

<style>
	.box{
	  height : 100px;
	  width : 100px;
	  background-color : gray;
	  margin : 5px;
	  display : inline-block;
	}
	.sari{
	  background-color : yellow;
	}
	.mavi{
	  background-color : blue;
	}
	.yesil{
	  background-color : green;
	}
</style>