<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Listeler</title>
</head>
<body>
  <style>
    ul{
      margin-top : 5px;
      width : 500px;
      list-style-type : none;
    }
    li{
      margin-bottom : 5px;
      width : 450px;
      list-style-type : none;
      padding : 5px;
    }
    .aktif{
      background-color: limegreen;
    }
    .pasif{
      background-color: tomato;
    }
  </style>
  <div id="app">
    <h1>{{sayfaBasligi}}</h1>
    <h2>Ders listesi</h2>
    <ol>
      <li v-for="ders in dersler">{{ders}}</li>
    </ol>

    <h2>Eğitim verilen sınıf seviyeleri (Sayı listesi)</h2>
    <ul>
      <li v-for="i in 12">{{i}}</li>
    </ul>

    <h2>Ogrenci bilgisi</h2>
    <div v-for="(value, key) in ogrenci">
      <strong>{{ key + " : " }}</strong><span>{{ value }}</span>
    </div>

    <h2>Ogretmen listesi (obje türünde)</h2>
    <div v-for="ogretmen in ogretmenler">{{ogretmen}}</div>

    <h2>Ogretmen listesi </h2>
    <ul>
      <li v-for="ogretmen in ogretmenler" :class="ogretmenDersDurumu(ogretmen)">
        <span>Öğretmen adı: {{ogretmen.adi}} (Kullancı adı:{{ogretmen.kullaniciAdi}}), Ders saati sayısı: {{ogretmen.dersSaati}} </span> <br>
        <button @click="dersEkle(ogretmen)">Ekle</button>
        <button @click="ogretmen.dersSaati+=miktar">+</button> <input type="text" v-model="miktar">
        <button :disabled="ogretmen.dersSaati < 1" @click="ogretmen.dersSaati-=miktar">-</button>
        <button :disabled="ogretmen.dersSaati < 1" @click="dersCikar(ogretmen)">Çıkar</button>
      </li>
    </ul>
    <p v-if="mesajDurumu" style="color:red; font-weight:bold;">Öğremenden bu kadar ders çıkartamazsınız.</p>
    <h2>Derse giren ogretmen listesi </h2>
    <div v-for="dgo in ogretmenler" v-if="dgo.dersSaati > 0">Öğretmen adı: {{dgo.adi}} (Kullancı adı:{{dgo.kullaniciAdi}}), Ders saati sayısı: {{dgo.dersSaati}} </div>
  </div>
    

  <script>
    new Vue({
      el : "#app",
      data : {
        sayfaBasligi : "VueJs Listeler",
        miktar : 3,
        mesajDurumu : false,
        dersler : ["Türkçe","Matematik","Fen"],
        ogrenci : {
          adi : "Ensar",
          kullaniciAdi : "ensar06",
          sinifi : 6
        },
        ogretmenler : [
          {
            adi : "Erdinç",
            kullaniciAdi : "erdinc1",
            bransi : "Bilişim",
            dersSaati : 0
          },
          {
            adi : "Ensar",
            kullaniciAdi : "ensoş2",
            bransi : "Matematik",
            dersSaati : 3
          },
          {
            adi : "Erhan",
            kullaniciAdi : "erhos6",
            bransi : "Fizik",
            dersSaati : 4
          }
        ]
      },
    methods : {
      dersEkle(ogretmen){
        if (this.miktar > ogretmen.dersSaati){
          this.mesajDurumu = true
        }
        else{
          ogretmen.dersSaati += this.miktar;
          this.mesajDurumu = false
          
        }
      },
      dersCikar(ogretmen){
        if (this.miktar > ogretmen.dersSaati){
          //alert('olmaz')
          this.mesajDurumu = true
        }
        else{
          ogretmen.dersSaati -= this.miktar;
          this.mesajDurumu = false
        }
      },
      ogretmenDersDurumu(ogretmen){
        return {'aktif': ogretmen.dersSaati > 0,'pasif': ogretmen.dersSaati < 1}
      }
    }
    });
  </script>
  <br><hr>
  <h3 style="color:red">Sayfa kodlarını görmek için, sayfa üzerindeki boş bir alanda sağ tıklayıp, sayfa kaynağını göster diyebilirsiniz.</h3>
</body>
</html>